body {
    background-color: bisque;
}

h1 {    
    font-size: 80px;
    font-family: Copperplate, Fantasy;
    text-align: center;
    color: #b70d0d;
}

img {
    width: 500px;
    height: auto;
    border: 4px solid #b70d0d;
    margin: auto 455px;
}

.recipe-list {
    font-size: 24px;
    font-weight: bold;
    margin: 50px;
}